<%= render 'form', service: @service %>

<div class="row">
  <div class="col-sm-3 col-md-4 col-lg-5"></div>
  <div class="col-sm-3 col-md-2 col-lg-1">
    <button type="button" class="btn btn-default">
    <%= link_to 'Back', services_path %>
    </button>
  </div>
  <div class="col-sm-3 col-md-2 col-lg-1">
    <button type="button" class="btn btn-default">
    <%= link_to 'Show', @service %>
    </button>
  </div>
  <div class="col-sm-3 col-md-4 col-lg-5"></div>
</div>