<%= render 'form', service: @service %>

<div class="row">
  <div class="col-sm-5 col-md-5 col-lg-5"></div>
  <div class="col-sm-2 col-md-2 col-lg-2">
    <button type="button" class="btn btn-default">
    <%= link_to 'Back', services_path %>
    </button>
  </div>
  <div class="col-sm-5 col-md-5 col-lg-5"></div>
</div>